*{
    margin: 0;
    padding: 0;
}
.box{
    padding-top: 10px;
    padding-left: 10px;
    background-color: red;
    float: left;
}
.box>img{
    vertical-align: bottom;
    border: 10px solid #fff;
    width: 200px;
    height: 100%;
}